<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.cafebazaar.flutter_poolakey">
    <queries>
        <package android:name="com.farsitel.bazaar" />
    </queries>
    <application>
        <activity
            android:name=".PaymentActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
    </application>
</manifest>
